# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Trigger an image screenshot by jest

on:
  push:
    branches: [ main ]

jobs:
  build:

    # Create a ubuntu virtual machine
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2

    # Install node
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm test
      env:
        CI: true

    # Run script "updateReadme.js" 
    - name: Update README.md
      run: |-
        node updateReadme.js
        cat README.md

    # Commit changes
    - name: Commit and push if changed
      run: |-
        git diff
        git config --global user.email "dinhgiang2611@gmail.com"
        git config --global user.name "djiangdev"
        git add -A
        git commit -m "Updated README.md" || exit 0
        git push
